.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
}

.about__year {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.about__author, .about__head {
    font-size: 2rem;
}

.about__person {
    font-weight: bold;
    font-style: italic;
}